<table class='table'>
  <thead>
    <tr>
      <th>Rank</th>
      <th>ID</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Price USD</th>
      <th>Price BTC</th>
      <th>Market Cap USD</th>
      <th>Available Supply</th>
      <th>Total Supply</th>
      <th>% 1H</th>
      <th>% 24H</th>
      <th>% 7D</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let co of coinsObservable | async">
      <td>{{co.rank}}</td>
      <td>{{co.id}}</td>
      <td>{{co.symbol}}</td>
      <td>{{co.name}}</td>
      <td>{{co.price_usd}}</td>
      <td>{{co.price_btc}}</td>
      <td>{{co.mark_cap_usd}}</td>
      <td>{{co.available_supply}}</td>
      <td>{{co.total_supply}}</td>
      <td>{{co.percent_change_1h}}</td>
      <td>{{co.percent_change_24h}}</td>
      <td>{{co.percent_change_7d}}</td>
      <td>{{co.last_updated}}</td>
    </tr>

  </tbody>
</table>
